# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.rsuser
*.sln.docstates
*.userprefs
*.csproj.user

# Rider
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Application specific
crash.log
build_output.txt
